<!DOCTYPE html>
<html lang="en" ng-app="movieDB" ng-controller="catalogCtrl">
<head>
  <meta charset="utf-8">
  <title>Movie Database</title>
  <link type="text/css" rel="stylesheet" href="app.css">
  <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<a href="#" class="navbar-brand">
				<span class="glyphicon glyphicon-film"></span>MovieDB
			</a>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="well col-sm-10 col-xs-12">
				<div class="row">
					
					<div class="col-xs-12">
						<div class="page-header section-title">Most Watches this week</div>
					</div>

					<div class="movie-container col-sm-2 col-xs-6" ng-repeat="movie in movieList | paginate:currentPage:pageSize">
						<a href="#" class="movie-thumb">
							<img ng-src="img/posters{{movie.poster_path}}" alt="" class="thumbnail img-responsive">
							<h5>{{movie.title}}</h5>
						</a>
					</div>

					<div class="col-xs-12">
						<uib-pagination class="pagination" total-items="movieList.length" ng-model="currentPage" items-per-page="pageSize"></uib-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="app.js"></script>
  <script src="catalog/catalog.js"></script>
  <script src="components/paginate/paginate-filter.js"></script>
</body>
</html>
